//
   Created by Nicu on 14/05/14.

.panel.panel-default
    .panel-heading
        | Post to channel:
        .panel-body
            form(action='create',method='post')
                | Channel name:
                input(type='text',name='channel')
                br
                textarea(name='data')
                input(type='submit', value='Post')

