//
   Created by Nicu on 14/05/14.

.panel.panel-default
    .panel-heading
        | Post to channel:
        .panel-body
            form( id='postForm')
                | Channel name:
                input(type='text',name='channel', id='postChannel')
                br
                textarea(name='data', id='postData')
                input(type='submit', value='Post')
script(src='/javascripts/submit_post.js')
