//
   Created by Nicu on 14/05/14.

.jumbotron

    #leftAllChannelsInsideJumbatron
        include allUsers/channels
    #centerPostsInsideJumbatron
        include allUsers/posts
if user
    #downCreatePostInsideJumbatron
        include userIsLogged/createPost