doctype html
html
    head
        link(href='/stylesheets/style.css', rel='stylesheet')
        script(src='http://code.jquery.com/jquery-1.6.1.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/chat.js')
        script(src='https://d19p4zemcycm7a.cloudfront.net/w2/auth0-widget-2.4.6.min.js')

    body
        block content
