doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(href='/stylesheets/sticky-footer-navbar.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',rel='stylesheet')
        link(href='/stylesheets/auth.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css', rel='stylesheet')
        link(href='/stylesheets/appStyle.css', rel='stylesheet')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='http://js.pusher.com/2.2/pusher.min.js')
        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
        script(src='https://cdn.auth0.com/w2/auth0-widget-3.0.min.js')
        script(src='javascripts/news_dispacher.js')
    body
        // Wrap all page content here
        #wrap
            // Fixed navbar
            include inc/navbar
            // Begin page content
            block content

        include inc/allUsers/footer