//
   Created by Nicu on 14/05/14.

.panel.panel-default
    .panel-heading
        b Channels
        .panel-body#channels
p Subscribe to channel
input(type='text',id='channel')
.btn.btn-default(name='' type='submit',onclick='subscribeToChannel($(\'#channel\').val())')
    | Subscribe