// The footer for all the pages
   Created by Nicu on 13/05/14.

#footer
    .container
        p.text-muted.credit
            | Contact
            a(href='') Reut Nicu
            | and
            a(href='') Ursachi Claudiu
            | .