if posts
    each val in posts
        .well
            =val.channel
                | +
            =val.user.name
                | +
            =val.text
                | +
            =val.date
